@import "tailwindcss";

:root
{
  --primary-color: #4CAF50;
  --secondary-color: #cbced4;
  --background-color: #edfff0;
  --text-color: #222;
  --card: #FFFFFF;
}

.page-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.nav-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

  body {
    background-color: var(--background-color);
    font-family: "Geist Sans", sans-serif;
  }

.topnav {
  background-color: white;
  font-weight: bold;
}

.topnav ul {
  display: flex;
  gap: 48px;
  list-style: none;
  margin: 0;
  padding: 12px 0;
  font-size: 18px;
}

.topnav a {
  text-decoration: none;
  color: var(--text-color);
}

.topnav li a {
  padding: 4px 16px;
  border-radius: 10px;
}

.topnav li a:hover {
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: 4px 16px;
}

.topnav li {
  flex-wrap: wrap;
}

h2 {
  font-size: 22px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
 .card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 0px;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--card);
 }

  .card img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
  }

  .card-text {
    display: flex;
    flex-direction: column;
    background-color: var(--card);
  }

  